.loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(var(--background-start-rgb));
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}
